body{
    background-color: lightcyan;
    font-size: x-large;
    color:  rgb(9, 104, 141);
}

nav{
    position: fixed;
    border: rgb(9, 104, 141);
    text-align: right;
    background-color: #f1f1f1;
    padding: 25px 25px;
    border-radius: 29px;
    outline-style: double;
}
.pic{width: 600px;
    height: 600px;
    border-radius: 300px;
    border:  rgb(9, 104, 141);
    outline-style: double;
    margin: 100px;
    position: fixed;
    top: 150px;
  }
.note{
    position: absolute;
    top: 260px;
    left: 520px;
    font-family: serif;
    margin: 240px;
    font-size: 45px;
}

h1{display:inline-table;
    font-display: flex;
   text-align:right
}
.a{color:blue;}
.y{color:red;}
.o{color: rgb(9, 104, 141);}
.m{color: orange;}
.i{color: orangered;}
.r{color: brown;}
.w{color: blue;}
.t{color: orange}
.h{color: orangered;}
.p{color: brown;}
.e{color: blueviolet;}
.c{color:rgb(9, 104, 141)}
.icon{
    height: 50px;
    width: 50px;
}
.socialmedia{
    position: absolute;
    top: 60px;
    margin: 665px;
    left: 300px;
}