*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color:  rgb(9, 104, 141);
    margin: 50px;
}
.logo{
    width: 300px;
    height: 250px;
    margin-top: -90px;
}

nav{
    position: fixed;
    margin-top: 30px;
    font-weight: bold;
    font-size: x-large;
    display: flex;
    justify-content: flex-end; /* aligns links to the right */
    gap: 20px;                 
    width: 100%;
    right: 40px;
    top: 0;
    padding: 10px 20px; 
}
a{
    text-decoration: none;  
    color: whitesmoke; 
    padding-bottom: 5px;       /* space for the underline */
    border-bottom: 2px solid transparent; /* invisible by default */
    transition: border-color 0.3s ease;   /* smooth effect */   
}
a:hover,
a:focus,
a:active {
    border-bottom: 2px solid #ff5757; /* pink underline on hover/click */
}
h1{display:inline-table;
    font-display: flex;
   text-align:right}
.M{
    position: absolute;
    top: 135px;
    left: 1100px;
    font-size: 40px;
}
span{
    font-weight: bold;
}
.intro{
    word-spacing: 8px;
    font-size: 30px;
    position: absolute;
    top: 250px;
}
.flex-container {
    background-color:rgb(5, 77, 105);
    line-height: 50px;
    position: absolute;
    top:440px ;
    display: flex;
  }
  .flex-container > div {
    background-color: lightcyan;
    margin-right: 10px;
    padding: 20px;
    font-size: 30px;
    margin-top: none;
    margin-bottom: none;
    margin-left: none;
  }  

.f{
    position: absolute;
    top: 1200px;
    font-size: 40px;
    left:1030px ;
}
.gal{
    position: absolute;
    top: 1350px;
    font-size: 30px;
}
.button{
    position: relative;
    top:1500px ;
    left: 1200px;
    color:rgb(5, 77, 105);
    display: inline;
    height: 40px;
    width: 60px;
    background-color: beige;
    padding: 15px 15px;
    text-align: center;
    outline-style: double;
    border-radius: 15px;
    font-size: 30px;
    font-family: cursive;
}
.w{
    position: absolute;
    top: 1600px;
    left: 1100px;
    font-size: 40px;
    color:  rgb(9, 104, 141);
}
.end{
    position: absolute;
    top: 1750px;
    font-size: 30px;
}